body {
  font-family: 'Arial', sans-serif;
  font-size: 12px;
  background-color: #181818;
  margin: 0 auto;
  max-width: 800px;
  padding: 10px;
  color: #e0e0e0e2;
}

h1 {
  color: #4b9bf6;
  text-align: center;
  padding-bottom: 10px;
}

.section {
  background: #303030;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #e0e0e0;
  background: #282828;
  padding: 10px;
  border-radius: 5px 5px 0 0;
  margin: 0;
}

p {
  padding: 10px;
  background: #303030;
  border-radius: 0 0 5px 5px;
  margin: 0;
}

a {
  color: #4b9bf6;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

li {
  margin-bottom: 10px;
  font-size: 16px;
}

label {
  display: flex;
  align-items: center;
}

input[type="checkbox"] {
  margin-right: 10px;
  cursor: pointer;
}

.app-container {
  background: #202020;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card {
  background: #303030;
  border-radius: 5px;
  padding: 15px;
  margin: 15px 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
